<div class="container">
    <form action="{% url 'project_view' %}" method="POST" class="form-signin justify-content-center d-flex flex-column">
        {% csrf_token %}
        {% load crispy_forms_tags %}

        <h1 class="h3 mb-3 font-weight-normal">Adicionar Projecto</h1>

        {{project_form | crispy}}

        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:10px">Adicionar</button>
    </form>
</div>

 {% if form.non_field_errors %}
        <div class="form-group text-error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {{ field.help_text}}
        {{ field }}
        {% if field.errors %}
            <span>{{ field.errors|striptags }}</span>
        {% endif %}
    {% endfor %}